/* Footer */
.footer {

  &__top {
    padding-top: var(--gap);
    padding-bottom: var(--gap);
    padding-left: 25px;
    padding-right: 25px;
    color: #fff;
    background-color: var(--color-dark);
  }

  h5 { 
    font-size: calc(1.2 * var(--font-size-base)); 
  }

  .nav {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: var(--gap);
    color: var(--color-text-accent-3);

    @media (--viewport-md) {
      flex-direction: column;
    }

    a { 
      display: block; 
      padding-bottom: var(--gap-sm);
      padding-right: var(--gap);
      color: #ccc;
    }
  }

  .social-links {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: var(--gap);
    color: #ccc;


    &__item {
      display: flex;
      margin-bottom: var(--gap-sm);
      color: inherit;

      .icon { margin-right: var(--gap-sm); }

      p { margin-bottom: 0; }
    }
  }

  #footer-subscribe {
    color: #ccc;
  }

  .subscribe-form {
    display: flex;
    position: relative;
    height: 2.8rem;
    max-width: calc(25 * var(--gap-rem));

    input { 
      margin-bottom: 0; 
      padding: var(--gap-sm);
      padding-left: var(--gap);
      border-radius: calc(2 * var(--font-size-base));
      background-color: transparent;
      transition: none;

      &:focus,
      &:active {
        transition: none;

        &+button .icon {
          transform: rotate(360deg);
          transition: transform var(--animation-duration) var(--animation-name);
        }
      }
    }

    button {
      position: absolute;
      right: 0;
      padding: var(--gap-sm);
      margin: 2px;
      border-radius: var(--global-radius-rounded);
      background-color: var(--color-primary);
      color: var(--color-light);

      &:hover {
        .icon {
          transform: rotate(360deg);
          transition: transform var(--animation-duration) var(--animation-name);
        }
      }
    }
  } 

  &__oakland-quote-body {
    margin-bottom: 15px;
  }

  &__oakland-quote-pill {
    font-weight: 600;
    margin-top: 15px;
    padding: 2px 10px;
    color: white;
    cursor: pointer;
    line-height: 1.4em;
    border: 1px solid white;
    text-align: center;
    text-transform: uppercase;
    width: auto !important;
  }

  &__oakland-quote-pill:hover {
    background-color: white;
    color: var(--accent-dim);
  }

  &__bottom {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0;
    padding: 0 0 var(--gap) 0;
    color: white;
    background-color: var(--color-dark);
  }

  &__oakland-quote-title,
  &__description a {
    text-decoration: underline;
    color: color-mix(in srgb, var(--accent) 20%, white);
  }

  a:hover,
  a:focus,
  a:active {
    color: var(--color-primary);
  }
}