/* Post Card */
.post-wrap {
  margin-bottom: var(--gap-lg);
}

.latest-post {
  margin-bottom: 0;
  border-radius: var(--global-radius);
}

.post-card {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: var(--global-radius);
  
  @media (--viewport-md) {
    flex-direction: row; 
  }

  &.col {
    flex-direction: column;

    .post-card__content {
      padding-left: 0;
      padding-top: var(--gap);
    }
  }

  &.tag {
    .post-card__header {
      display: none;
    }
  }

  &.no-img {
    height: 100%;

    @media (--viewport-md) {
      background-color: var(--color-bg-accent-1);
      border-radius: var(--global-radius);
      border: 1px solid var(--color-border);
    }

    .post-card__content {
      padding-top: 0;
      padding: var(--gap);

      @media (--viewport-md) {
        padding: var(--gap-lg);
      }
    }
  }

  &__content {
    padding-top: var(--gap);
    z-index: 2;

    @media (--viewport-md) {
      padding-top: 0;
      padding-left: var(--gap);
    }
  }

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: var(--gap);
  }

  &__featured {
    margin-left: var(--gap-sm);
    padding: var(--gap-xs);
    color: var(--color-secondary);
  }

  &__authors {
    margin-right: var(--gap);
  
  }

  &__author {
    position: relative;
    display: flex;
    align-items: center;

    &:nth-of-type(1) { 
      z-index: 5;
    }
    &:nth-of-type(2) { 
      z-index: 4; 
      margin-left: calc(-0.75 * var(--gap));
    }
    &:nth-of-type(3) {
      z-index: 3; 
      margin-left: calc(-0.75 * var(--gap));
    }
    &:nth-of-type(4) { 
      z-index: 2; 
      margin-left: calc(-0.75 * var(--gap));
    }
    &:nth-of-type(5) { 
      z-index: 1; 
      margin-left: calc(-0.75 * var(--gap));
    }

    &-image,
    &-icon {
      @mixin attention {
        box-shadow:
          0 0 1px 3px var(--color-secondary);
      }
    }

    @mixin attention {
      z-index: 10;
    }
  }

  &__author-image,
  &__author-icon {
    display: block;
    width: calc(2.5 * var(--gap));
    height: calc(2.5 * var(--gap));
    overflow: hidden;
    border-radius: var(--global-radius-rounded);
    box-shadow: 0 0 1px 3px var(--color-secondary);
    transition: box-shadow var(--animation-duration) var(--animation-name);

    img { 
      width: 100%;
      height: 100%;
      margin: 0;  
      object-fit: cover;
      object-position: center;
    }
  }

  &__author-icon {
    color: var(--color-secondary);
    background-color: var(--color-bg-accent-1);
    padding: calc(0.48 * var(--gap));
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.2;
  }

  &__title {
    color: var(--color-text-accent-1);

    @media (--viewport-md) {
      font-size: calc(1.6 * var(--font-size-base));
    }

    a {
      @mixin attention {
        color: var(--color-primary);
      }
    }
  }

  &__footer {
    display: flex;
    margin-bottom: var(--gap);

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__date { 
    color: var(--color-text-accent-3); 
    font-size: calc(0.9 * var(--font-size-base));
  }

  &__read-time {
    margin-left: var(--gap);
    color: var(--color-text-accent-3);
  }

  &__excerpt {
    margin-top: var(--gap);
    color: var(--color-text-accent-3);
  }

}
